<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
    <title>G O H E M A | Seguimiento</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
      <link rel="icon" type="image/png" th:href="@{/initial/img/Logotipo_Color.png}">
    <!-- CSS -->
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

      <link th:href="@{/initial/newDesign/css/styles.css}" rel="stylesheet" />
      <link th:href="@{/initial/newDesign/css/dashboard.css}" rel="stylesheet" />
      <link th:href="@{/initial/newDesign/css/plugins/sweetalert2.min.css}" rel="stylesheet"/>
      <link th:href="@{/prueba/css/plugins/date-time-picker.css}" rel="stylesheet" >
      <link th:href="@{/prueba/css/addPatient.css}" rel="stylesheet" />
  </head>
  
    <body id="body">
      <div class="orbit-spinner">
          <div class="orbit"></div>
          <div class="orbit"></div>
          <div class="orbit"></div>
        </div>
        
        <div id="main" class="wrapper" hidden>
            <!-- SideBar -->
<!--            <div class="sidebar" data-color="white" data-active-color="primary">-->
<!--                <div class="logo">-->
<!--                    <div class="center-logo">-->
<!--                        <img id="img_logo" th:src="@{/initial/img/Logotipo_Blanco.png}" alt="logo" />-->
<!--                        <br/>-->
<!--                        <p class="simple-text">Sistema de Seguimiento</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="sidebar-wrapper">-->
<!--                    <div id="contentSidebar">-->
<!--                        <ul class="nav">-->
<!--                            <li class="active">-->
<!--                                <a th:href="@{/doctor/allPatients}">-->
<!--                                    <i class="material-icons">group</i> <p class="fontSize1_5">Pacientes</p>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                        </ul>-->

                        <!--<ul class="nav">-->
                                <!--<li >-->
                                    <!--<a href="./patientsList.html">-->
                                        <!--<i class="material-icons">account_circle</i> <p class="fontSize1_5">Mis datos</p>-->
                                    <!--</a>-->
                                <!--</li>-->
                        <!--</ul>-->
                            <!--<ul class="nav">-->
                                    <!--<li >-->
                                        <!--<a th:href="@{/logout}">-->
                                            <!--<i class="material-icons">clear</i> <p class="fontSize1_5">salir</p>-->
                                        <!--</a>-->
                                    <!--</li>-->
                            <!--</ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
           
            <!-- Main Panel -->
            <div class="main-panel">
                <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
                    <div class="container-fluid">
                        <div class="logo">
                            <div class="center-logo">
                                <img id="img_logo" th:src="@{/initial/img/Logotipo_Blanco.png}" alt="logo" />
                                <br/>
                                <p class="simple-text">Sistema de Seguimiento</p>
                            </div>
                        </div>
                        <div class="collapse navbar-collapse justify-content-end">

                            <i  class="material-icons">face</i><p class="h4">&nbsp;<span id = "nameUSER">Médico</span></p>
                            <a th:href="@{/logout}" id="SesonOff" >Cerrar Sesión <i class="material-icons">exit_to_app</i></a>
                        </div>
                    </div>
                </nav>
                <!-- Narvar -->
<!--                <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">-->
<!--                    -->
<!--                    <div class="container-fluid">-->
<!--                        <div>-->
<!--                            <h2 class="h2 colorBlue">Agregar Consulta Mensual</h2>-->
<!--                        </div>-->
<!--                        <div id="doctorID" class="collapse navbar-collapse justify-content-end">-->
<!--                            <i class="material-icons colorFontBlack">face</i><p class="h4 colorFontBlack">&nbsp;Dr. Manuel Chavez </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </nav>-->
                <!-- End Navbar -->

                <!-- Main Content  -->
                <div class="content">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div id="navTab" class="row">
                                <div class="col-md-2">
                                    <ul class="nav nav-pills nav-pills-blue flex-column">
                                        <li class="nav-item">
                                            <a id="tabConsulta1" class="nav-link active" href="#tab1" data-toggle="tab">Pestaña 1</a>
                                        </li>
                                        <li class="nav-item">
                                            <a id="tabConsulta2" class="nav-link disabled" href="#tab2" data-toggle="tab">Pestaña 2</a>
                                        </li>
                                        <li class="nav-item">
                                            <a id="tabConsulta3" class="nav-link disabled" href="#tab3" data-toggle="tab">Pestaña 3</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-10">
                                    <h2><span><i class="material-icons">note_add</i> Agregar Consulta Mensual</span></h2>
                                    <form id="form1" th:action="@{/monthlyconsult/register/}"
                                          th:object="${monthlyConsultationModel}"
                                          method="post">
                                        <br>
                                        <span id="myvar" style="display:none" th:text="${monthly.size()}"></span>

                                        <div class="tab-content">

                                            <div class="tab-pane active" id="tab1">

                                                    <div class="form-row">
                                                        <div class="form-group col-md-4">
                                                            <label for="Ciclo_evaluado">Ciclo evaluado</label>
                                                            <select id="Ciclo_evaluado" class="form-control selectpicker" data-stryle="btn btn-link" name="treatmentCycleNum" th:field="*{treatmentCycleNum}">
                                                                <!--<option value="1">1</option>-->
                                                                <!--<option value="2">2</option>-->
                                                                <!--<option value="3">3</option>-->
                                                                <!--<option value="4">4</option>-->
                                                                <!--<option value="5">5</option>-->
                                                                <!--<option value="6">6</option>-->
                                                                <!--<option value="7">7</option>-->
                                                                <!--<option value="8">8</option>-->
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="txtDateInicioTratamiento">Fecha de Valoración</label>
                                                            <input id="txtDateInicioTratamiento" type="text" class="mt10px input form-control" name="dateOfRealization" th:field="*{dateOfRealization}">
                                                        </div>

                                                        <div class="form-group col-md-4">
                                                            <label for="Albumina">Albumina</label>
                                                            <input type="number" class="form-control" id="Albumina" placeholder="g/dL" name="albumin" th:field="*{albumin}">
                                                        </div>
                                                    </div>
                                                <br>
                                                <div class="form-row">
                                                        <div class="form-group col-md-4">
                                                            <label for="Calcio_serico">Calcio sérico</label>
                                                            <input type="number" class="form-control" id="Calcio_serico" placeholder="mg/dL" name="serumCalcium" th:field="*{serumCalcium}">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="Deshidrogenasa_Lactica">Deshidrogenasa Láctica</label>
                                                            <input type="number" class="form-control" id="Deshidrogenasa_Lactica" placeholder="U/L" name="lacticDehydrogenase" th:field="*{lacticDehydrogenase}">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="Hemoglobina">Hemoglobina</label>
                                                            <input type="number" class="form-control" id="Hemoglobina" placeholder="g/dL" name="hemoglobin" th:field="*{hemoglobin}">
                                                        </div>
                                                    </div>
                                                <br>
                                                <div class="form-row">
                                                        <div class="form-group col-md-4">
                                                            <label for="Hematocrito">Hematocrito</label>
                                                            <input type="number" class="form-control" id="Hematocrito" placeholder="%" name="hematocrit" th:field="*{hematocrit}">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="Leucocitos">Leucocitos</label>
                                                            <input type="number" class="form-control" id="Leucocitos" placeholder="cels x 10(3)/uL" name="leukocytes" th:field="*{leukocytes}">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="Linfocitos">Linfocitos</label>
                                                            <input type="number" class="form-control" id="Linfocitos" placeholder="cels x 10(3)/uL" name="lymphocytes" th:field="*{lymphocytes}">
                                                        </div>
                                                    </div>
                                                <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                        </div>
                                                        <div class="form-group col-md-4"></div>
                                                        <div class="form-group col-md-2">
                                                            <button id="btnNext1" type="button" class="btn btn-success">Siguiente</button>
                                                        </div>
                                                    </div>

                                            </div>

                                            <div class="tab-pane" id="tab2">

                                                    <div class="form-row">
                                                        <div class="form-group col-md-4">
                                                            <label for="Neutrofilos">Neutrofilos</label>
                                                            <input type="number" class="form-control" id="Neutrofilos" placeholder="cels x 10(3)/uL" name="neutrophils" th:field="*{neutrophils}">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="Plaquetas">Plaquetas</label>
                                                            <input type="number" class="form-control" id="Plaquetas" placeholder="cels x 10(3)/uL" name="platelets" th:field="*{platelets}">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="IgG">IgG</label>
                                                            <input type="number" class="form-control" id="IgG" placeholder="mg/dL" name="igG" th:field="*{igG}">
                                                        </div>
                                                    </div>
                                                <br>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-4">
                                                            <label for="IgA">IgA</label>
                                                            <input type="number" class="form-control" id="IgA" placeholder="mg/dL" name="igA" th:field="*{igA}">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="IgM">IgM</label>
                                                            <input type="number" class="form-control" id="IgM" placeholder="mg/dL" name="igM" th:field="*{igM}">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="Cadenas_Ligeras_Kappa">Cadenas Ligeras Kappa</label>
                                                            <input type="number" class="form-control" id="Cadenas_Ligeras_Kappa" placeholder="mg/dL" name="lightChainsKappa" th:field="*{lightChainsKappa}">
                                                        </div>

                                                    </div>
                                                <br>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-4">
                                                            <label for="Cadenas_Ligeras_Lambda">Cadenas Ligeras Lambda</label>
                                                            <input type="number" class="form-control" id="Cadenas_Ligeras_Lambda" placeholder="mg/dL" name="lightChainsLambda" th:field="*{lightChainsLambda}">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="Toxicidad_Hematologica_Serie_Roja">Toxicidad Hematológica - Serie Roja</label>
                                                            <select id="Toxicidad_Hematologica_Serie_Roja" class="form-control" name="toxHemtoRedSerie" th:field="*{toxHemtoRedSerie}">
                                                                <option value="0" selected>0</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="Toxicidad_Hematologica_Neutrofilos">Toxicidad Hematológica - Neutrofilos</label>
                                                            <select id="Toxicidad_Hematologica_Neutrofilos" class="form-control" name="toxHemtoNeutrophils" th:field="*{toxHemtoNeutrophils}">
                                                                <option value="0" selected>0</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="form-group col-md-2">
                                                            <button id="btnBack2" type="button" class="btn btn-success">Anterior</button>
                                                        </div>
                                                        <div class="form-group col-md-8"></div>
                                                        <div class="form-group col-md-2">
                                                            <button id="btnNext2" type="button" class="btn btn-success">Siguiente</button>
                                                        </div>
                                                    </div>

                                            </div>

                                            <div class="tab-pane" id="tab3">

                                                    <div class="form-row">
                                                        <div class="form-group col-md-4">
                                                            <label for="Toxicidad_Hematologica_Plaquetas">Toxicidad Hematológica - Plaquetas</label>
                                                            <select id="Toxicidad_Hematologica_Plaquetas" class="form-control"  name="toxHemtoPlatelets" th:field="*{toxHemtoPlatelets}">
                                                                <option value="0" selected>0</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="Toxicidad_Hepatica">Toxicidad Hepática</label >
                                                            <select id="Toxicidad_Hepatica" class="form-control"  name="toxHepatics" th:field="*{toxHepatics}">
                                                                <option value="0" selected>0</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="Toxicidad_Renal">Toxicidad Renal</label>
                                                            <select id="Toxicidad_Renal" class="form-control"  name="toxRenal" th:field="*{toxRenal}">
                                                                <option value="0" selected>0</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                <br>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-4">
                                                            <label for="Toxicidad_Infecciosa">Toxicidad Infecciosa</label>
                                                            <select id="Toxicidad_Infecciosa" class="form-control"  name="toxInfectious" th:field="*{toxInfectious}">
                                                                <option value="0" selected>0</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="Sitio_de_infeccion">Sitio de infección</label>
                                                            <select id="Sitio_de_infeccion" class="form-control"  name="infectionSite" th:field="*{infectionSite}">
                                                                <option value="Ninguna" selected>Ninguna</option>
                                                                <option value="Vias respiratorias altas">Vías respiratorias altas</option>
                                                                <option value="Neumonia">Neumonía</option>
                                                                <option value="Abdominal">Abdominal</option>
                                                                <option value="Tejidos blandos">Tejidos blandos</option>
                                                                <option value="Urinaria">Urinaria</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="Toxicidad_Gastrointestinal-Nausea">Toxicidad Gastrointestinal-Nausea</label>
                                                            <select id="Toxicidad_Gastrointestinal-Nausea" class="form-control" name="toxGastroNausea" th:field="*{toxGastroNausea}">
                                                                <option value="0" selected>0</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                            </select>
                                                        </div>

                                                    </div>
                                                <br>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-4">
                                                            <label for="Toxicidad_Gastrointestinal-Diarrea">Toxicidad Gastrointestinal-Diarrea</label>
                                                            <select id="Toxicidad_Gastrointestinal-Diarrea" class="form-control"  name="toxGastroDiarrhea" th:field="*{toxGastroDiarrhea}">
                                                                <option value="0" selected>0</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="Toxicidad_neuropatia_periferica">Toxicidad neuropatía periférica</label>
                                                            <select id="Toxicidad_neuropatia_periferica" class="form-control"  name="toxNeuroatiaPerif" th:field="*{toxNeuroatiaPerif}">
                                                                <option value="0" selected>0</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="Reaccion_a_infusion_de_medicamentos">Reacción a infusión de medicamentos</label>
                                                            <select id="Reaccion_a_infusion_de_medicamentos" class="form-control"  name="infusionMedReaction" th:field="*{infusionMedReaction}">
                                                                <option value="0" selected>0</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                            </select>
                                                        </div>

                                                    </div>
                                                <br>
                                                <div class="form-row">
                                                        <div class="form-group col-md-4">
                                                            <label for="Reaccion_adversa_otra">Reacción adversa otra</label>
                                                            <input type="text" class="form-control" id="Reaccion_adversa_otra"  name="adverseReaction" th:field="*{adverseReaction}">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <!--<select id="idPatient" class="form-control" name="idpatient" th:field="*{idpatient}">

                                                                <option th:each="patient : ${paciente}"
                                                                        th:value="${patient.id}"
                                                                        th:text="${patient.id}"></option>
                                                            </select>-->
                                                            <input class="form-control"
                                                                   type="hidden"
                                                                   th:value="${paciente.id}" id="idpatient" name="idpatient" />
                                                        </div>
                                                    </div>


                                                    <div class="form-row">
                                                        <div class="form-group col-md-2">
                                                            <button id="btnBack3" type="button" class="btn btn-success">Anterior</button>
                                                        </div>
                                                        <div class="form-group col-md-8"></div>
                                                        <div class="form-group col-md-2">
                                                            <button id="btnSave" type="submit" class="btn btn-success" form="form1">Guardar</button>
                                                        </div>
                                                    </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Main Content -->
            </div>

        <div id="ohsnap"></div>
    </body>
</html>

 <!-- JS Files -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="http://momentjs.com/downloads/moment.min.js"></script>
<script type="text/javascript" th:src="@{/initial/js/plugins/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/initial/js/plugins/bootstrap-material-design.min.js}"></script>
<script type="text/javascript" th:src="@{/initial/js/plugins/ohsnap.js}"></script>
<script type="text/javascript" th:src="@{/initial/js/plugins/date-time-picker.min.js}"></script>
<script type="text/javascript" th:src="@{/initial/js/monthlyConsultationJulio.js}"></script>
<!--<script src="../js/initialConsultation.js"></script>-->