/* 
Card
background:linear-gradient(60deg,#170caf,#7b1fa2) 
Input
linear-gradient(to top, #0B36FF 2px, rgba(11, 54, 255, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
DashBoard
    background:linear-gradient(to right, rgba(3,16,161,1) 0%, rgba(67,230,86,1) 100%);  
    opacity: 0.5;

    background: linear-gradient(60deg,#D70036,#170caf);

    azul color: #1403b4
*/